/* GLOBAL */
body {
    background-image: url("../photos/bg-matcha.png");
    font-family: "Poppins", sans-serif;
    color: #3B4953;
}


/* NAVBAR */
.navbar {
    background-color: #658C58 !important;
    width: 100% !important;
    padding: 15px 30px;
    box-shadow: none !important;
    border: none !important;
}

.navbar-brand {
    color: #EBF4DD !important;
    font-weight: bold;
    font-size: 1.8rem;
    letter-spacing: 0.5px;
}

/* DASHBOARD CARD */
.dashboard-card {
    background: #EBF4DD !important;
    border-radius: 25px;
    padding: 35px;
    width: 420px;
    border: 3px solid #5A7863;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.18);
}

/* BUTTONS */
.menu-btn {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 18px;
    border: none;
    background-color: #5A7863 !important;
    color: #EBF4DD !important;
    transition: 0.2s ease-in-out;
}

.menu-btn:hover {
    background-color: #3B4953 !important;
    color: #EBF4DD !important;
}

/* LOGOUT BUTTON */
.logout-btn {
    border-radius: 10px;
    padding: 8px 18px;
    border: 2px solid #EBF4DD;
    color: #EBF4DD !important;
    transition: 0.2s;
}

.logout-btn:hover {
    background-color: #EBF4DD !important;
    color: #3B4953 !important;
}