/* GLOBAL */
body {
    background-image: url("../photos/bg-matcha.png");
    font-family: "Poppins", sans-serif;
    color: #628141;
}

/* NAVBAR */
.navbar {
    background-color: #658C58 !important;
}

.navbar-brand {
    color: white !important;
    font-size: 20px;
}

/* LOGIN CARD */
.login-card {
    width: 350px;
    background: #EBF4DD !important;
    color: #3B4953 !important;
    border-radius: 25px;
    padding: 30px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    border: 3px solid #5A7863;
}

/* LOGO */
.login-logo {
    width: 180px;
    display: block;
    margin: 0 auto;
}

/* INPUT FIELDS */
.admin-input {
    background: #5A7863 !important;    
    border: 2px solid #3B4953 !important;
    color: #EBF4DD !important;        
    border-radius: 20px;
    padding: 12px;
}

.admin-input::placeholder {
    color: #d4e8c4 !important;
}

/* ICON BOX */
.admin-icon {
    background: #5A7863 !important;
    color: #EBF4DD !important;
    border: 2px solid #3B4953 !important;
    border-right: none !important;
    border-radius: 20px 0 0 20px !important;
}

/* LOGIN BUTTON */
.login-btn {
    background-color: #5A7863 !important;
    color: #EBF4DD !important;
    border: none !important;
    border-radius: 15px;
    padding: 12px 0;
    font-size: 16px;
    transition: 0.2s ease-in-out;
}

.login-btn:hover {
    background-color: #3B4953 !important;
    color: #EBF4DD !important;
}

/* HOME BUTTON */ 
.home-btn {
    border-radius: 12px;
    padding: 12px 0;
    font-size: 16px;
    color: #3B4953 !important;
    border: 2px solid #3B4953 !important;
    transition: 0.2s ease-in-out;
}

.home-btn:hover {
    background-color: #3B4953 !important;
    color: #EBF4DD !important;
}