/* BACKGROUND */
body {
    background-image: url("../photos/bg-matcha.png");
    font-family: "Poppins", sans-serif;
    color: #3B4953;
    margin: 0;
    padding: 0;
}

/* CARD CONTAINER */
.edit-card {
    width: 900px;
    background: #EBF4DD;
    border-radius: 25px;
    padding: 50px 40px;
    border: 6px solid #C8D8BA;
    margin-top: 50px;
}

/* HEADERS AND LABELS */
h2 {
    color: #3B4953;
    font-weight: 700;
    margin-bottom: 30px;
}

.form-label {
    font-weight: bold;
    color: #3B4953;
    margin-top: 15px;
    margin-bottom: 5px;
    display: block;
}

/* INPUT FIELDS */
.form-control {
    background: #F5FAEB;
    border: 2px solid #B8D2A3;
    padding: 10px 15px;
    height: 48px;
    font-size: 16px;
    border-radius: 10px;
    color: #3B4953;
}

.form-control:focus {
    outline: none;
    border-color: #3B4953;
    box-shadow: 0 0 0 2px rgba(59, 73, 83, 0.2);
}

/* HIDDEN FIELD  */
.hidden-field {
    opacity: 0;
    position: absolute;
    pointer-events: none;
}

/* IMAGE PREVIEW */
img.current-img {
    width: 130px;
    border-radius: 15px;
    border: 3px solid #C8D8BA;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

/* BUTTONS FOR EDIT */
.edit-btn {
    background: #3B4953;
    color: #EBF4DD;
    border: none;
    border-radius: 12px;
    padding: 12px;
    font-size: 18px;
    width: 100%;
    margin-top: 30px;
    transition: 0.2s;
}

.edit-btn:hover {
    background: #2a353c;
    color: white;
}

/* CUSTOM FILE INPUT */
input[type="file"] {
    padding: 8px;
    background: #F5FAEB;
    border: 2px solid #B8D2A3;
    border-radius: 10px;
    font-size: 15px;
}