/* BACKGROUND */
body {
    background-image: url("../photos/bg-matcha.png");
    font-family: "Poppins", sans-serif;
    color: #3B4953;
}

/* NAVBAR */
.navbar {
    background-color: #658C58 !important;
    width: 100% !important;
    padding: 15px 30px;
    box-shadow: none !important;
    border: none !important;
}

.navbar-brand {
    color: #EBF4DD !important;
    font-weight: bold;
    font-size: 1.8rem;
    letter-spacing: 0.5px;
}

/* LOGOUT BUTTON */
.logout-btn {
    border-radius: 10px;
    padding: 8px 18px;
    border: 2px solid #EBF4DD;
    color: #EBF4DD !important;
    transition: 0.2s;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: #EBF4DD !important;
    color: #3B4953 !important;
}

/* MAIN CARD */
.manage-card {
    width: 650px;
    background: #EBF4DD;
    border-radius: 25px;
    padding: 30px;
    border: 3px solid #5A7863;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

/* TABLE */
table {
    background: white;
    border-radius: 15px;
    overflow: hidden;
}

th {
    background-color: #5A7863 !important;
    color: #EBF4DD !important;
    font-weight: 600;
}

/* INPUTS */
.add-input {
    border: 2px solid #3B4953 !important;
    border-radius: 10px;
    padding: 5px 10px;
    color: #3B4953;
}

/* BUTTONS */
.btn-manage {
    background-color: #5A7863 !important;
    color: #EBF4DD !important;
    border-radius: 10px;
}
.btn-manage:hover {
    background-color: #3B4953 !important;
}

.btn-remove {
    background-color: #c0392b !important;
    color: white !important;
    border-radius: 10px;
}
.btn-remove:hover {
    background-color: #922b21 !important;
}